.demo-container {
  margin: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  section {
    margin-bottom: 20px;
  }

  .btn {
    text-decoration: none;
  }

  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }

  table,
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #f1f1f1;
  }
}
